<h3>Post Form</h3>

<%= form_for @post do |f| %>
  <%= f.label :title, "Post title:" %>
  <%= f.text_field :title %><br>

  <%= f.label :description, "Post desciption:" %>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>
